.boxart {
  width:  200px;
  display: inline-block;
  margin-left: 1%;
  cursor: pointer;
}

.boxart img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 1em;
  border: 2px #000 solid;
}

.boxart img:hover {
  border: 2px blue solid;
}

.boxart img:hover {
  border: 2px blue solid;
}

.info {
  letter-spacing: 1px;
  padding: 15px 0;
  margin: auto;
  text-align: center;
  color: blue;
}

@media (max-width:380px){
  .boxart {
    width:  100px;
  }

  .boxart img {
    width: 100px;
    height: 100px;
  }
}